{% extends "layout.html" %}

{% block title %}dash_board{% endblock %}

{% block body %}
<style>
    .wrap{
        display: flex;
    }
    .container{
        background: rgb(240, 241, 248);
        height: 94vh;
    }
    .menu_body{
        flex: auto;
    }
    .add_wrap{
        text-align: center;
        margin: 0 auto;
        padding-top: 10%;
    }
    .add_wrap > button{
        width: 150px;
        font-size: 140px;
    }
    .add_wrap > div{
        font-size: 30px;
        font-weight: 800;
    }
    #seat-grid{
    }
    .row{
        display: flex;
    }
    .row > .col{
        height: 15.3vh;
        flex: 1;
        position: relative;
        color: #fff;
        font-weight: bold;
        font-size: 20px;
        border: solid 1.5px #fff;
    }
    .row > .col:hover{
        cursor: pointer;
        background: rgb(40,160,294);
        opacity: 0.3;
    }
    .view-mode{

    }
    .place-box{
        background: #1cc88a;
    }
    .empty-box{
        background: #f6c23e;
    }
    .logout-box{
        background: #858796
    }
    .name-wrap{
        display: inline-block;
        text-align: right;
        width: 100%;
        position: absolute;
        bottom: 10px
    }
    .user-name, .user-rank{
        display: inline-block;
    }
    .info-content, .info-tag{
        display: inline-block;
    }
    .info-tag{
        width: 70px;
        color: rgb(40,160,294)
    }
    .info-content{
        font-weight: 900;
    }
</style>
<script>
    eventsArray = new Array();

    $(function(){
        function update_user_box(){
          //box데이터들 초기화 필요
            $('.row > div').each(function(index, item){
              $(item).attr('class', 'col');
              $(item).children('.user-status').text('');
              $(item).find('div.user-name').text('');
              $(item).find('div.user-rank').text('');
            });

          // 유저status

          for(var i = 0; i < eventsArray.length ; i++ ){
            eventInfo = eventsArray[i];

            var className;
            var status_kor;

            switch (eventInfo.status) {
              case 'place':
              case 'None':
                className = 'place-box';
                status_kor = '자리에 있음';
                break;
              case 'meeting':
                status_kor = '회의';
                className = 'empty-box';
                break;
              case 'away':
                status_kor = '자리비움';
                className = 'empty-box';
                break;
              case 'outside':
                status_kor = '외근';
                className = 'empty-box';
                break;
              default:
                className = 'place-box';
                status_kor = '자리에 있음';
                break;
            }




            if(eventInfo.seat_location !== 'None'){
                var location_to_id = '#' + eventInfo.seat_location;
                user_location_dom = $(location_to_id);
                user_location_dom.addClass(className);
                user_location_dom.children('.user-status').text(status_kor);
                user_location_dom.find('div.user-name').text(eventInfo.name);
                user_location_dom.find('div.user-rank').text(eventInfo.rank);
            }

          }

        }

        setInterval(function()
          {
            $.ajax({
              url         : '{{ url_for("dashboard_view.dashboard") }}'
               ,type        : 'POST'
               ,cache       : false
               ,contentType : 'application/json; charset=utf-8'
               ,dataType    : 'json'
               ,success     : function(data) {
                   eventsArray = [];
                   for(var i = 0; i < data.result.length ; i++){
                      eventsArray.push(data.result[i]);
                   }
                   update_user_box();
                }
               ,error: function(result) {
                 alert('통신에 오류가 발생했습니다. 자동으로 최신화 되지 못했습니다. 강제로 새로고침합니다.');
                 location.reload();
               }
            });
          },60000);


        //javascript에 객체 초기값 입력

        {% for event in events if events %}
        var eventInfo = new Object();
        eventInfo.id = '{{ event["id"] }}'
        eventInfo.user_id = '{{ event["user_id"] }}';
        eventInfo.rank = '{{ event["rank"] }}';
        eventInfo.status = '{{ event["status"] }}';
        eventInfo.name = '{{ event["name"] }}';
        eventInfo.seat_location = '{{ event["seat_location"] }}';
        eventInfo.category = '{{ event["category"] }}';
        eventInfo.place = '{{ event["place"] }}';
        eventInfo.subject = '{{ event["subject"] }}';
        eventInfo.start_time = '{{ event["start_time"] }}';
        eventInfo.attendants = '{{ event["attendants"] }}';
        eventInfo.attendants = eventInfo.attendants.replace('||', '<br>');

        eventsArray.push(eventInfo);
        {% endfor %}

        update_user_box();


        //별개
        var user_location = '';
        //dialog 생성
        infoDialog = document.querySelector('#info-dialog');
        infoDialogMDC = new MDCDialog(infoDialog);
        //추가하기 버튼
        addChannelButton = document.querySelector('.add_wrap > button');
        if(addChannelButton){
            addChannelButton.addEventListener('click',function(event){
                channel_id = prompt('등록을 원하는 채팅 채널 ID를 입력해주세요');
                if(channel_id.trim() !== ''){
                  register_url = '{{ url_for("register_channel_api.register_channel") }}' + '?channel=' + channel_id.trim();
                  location.href = register_url;
                }
                else{
                  alert('입력정보를 확인해주세요');
                }
            });
        }


        //완전 별개
        //그리드 클릭 이벤트
        $('.row > .col').on('click', function(){
            click_location = $(this).attr('id');
            click_status = $(this).find('div.user-status').text().trim();
            user_location = '{{ current_user.location }}';
            if(click_status != ''){
                //디테일 이벤트
                if(click_status == '자리에 있음'){
                    alert('자리에 잘 계십니다 ^^7');
                }
                else{
                    // 이벤트를 돌면서 해당 이벤트의 좌표와 클릭된 이벤의 좌표가 같을 경우 상태 출력
                    for(var index in eventsArray){
                        if(eventsArray[index].seat_location === click_location){
                            info_status = eventsArray[index].status == 'meeting' ? '회의'
                                : (eventsArray[index].status == 'away'? '자리비움' : '외근' )
                            info_name = eventsArray[index].name
                            info_place = eventsArray[index].place
                            info_subject = eventsArray[index].subject
                            info_start = eventsArray[index].start_time
                            info_attendants = eventsArray[index].attendants

                            //dialog title
                            $('#info-dialog-title').text(info_name + '님은 ' + info_status + ' 중 이십니다');

                            $('#info-content-wrap > div:nth-child(n)').css('display', 'block');

                            //dialog info
                            if(info_place == 'None'){
                                $('#info-content-wrap > div:nth-child(1)').css('display', 'none')
                            }
                            else{
                                $('#info-content-wrap > div:nth-child(1) .info-content').text(info_place);
                            }

                            if(info_subject == 'None'){
                                $('#info-content-wrap > div:nth-child(2)').css('display', 'none')
                            }
                            else{
                                $('#info-content-wrap > div:nth-child(2) .info-content').text(info_subject);
                            }

                            if(info_attendants == 'None'){
                                $('#info-content-wrap > div:nth-child(3)').css('display', 'none')
                            }
                            else{
                                $('#info-content-wrap > div:nth-child(3) .info-content').text(info_attendants);
                            }

                            if(info_start == 'None'){
                                $('#info-content-wrap > div:nth-child(4)').css('display', 'none')
                            }
                            else{
                                $('#info-content-wrap > div:nth-child(4) .info-content').text(info_start);
                            }


                            infoDialogMDC.open();
                        }
                    }
                }
            }
            else if(user_location === 'None'){
                var result = confirm('선택하신 좌표('+click_location+')를 자리로 하시겠습니까?')
                if(result){
                    location.href = '{{ url_for('user_api.update_location') }}' + '?location=' + click_location;
                }
            }
            else{
                var result = confirm('좌석을 ('+click_location+') 으로 이동 하시겠습니까?');
                if(result){
                    location.href = '{{ url_for('user_api.update_location') }}' + '?location=' + click_location;
                }
            }
        });

        //events, user 정보 읽어오기





    })
</script>
<div class="wrap">
    {% include "menu_sidebar.html" %}
    <div class="menu_body">
        {% include "menu_header.html" %}
        <div class="container">
        {% if current_user.channel %}
            <div id="seat-grid">
                {% for j in range(1,7) %}
                <div class="row">
                    {% for  i in range(1,11) %}
                    <div id="{{ j }}-{{ i }}" class="col">
                        <div class="user-status">
                        </div>
                        <div class="name-wrap">
                            <div class="user-name"></div>
                            <div class="user-rank"></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="add_wrap">
                <div>채널을 등록해주세요</div>
                <button class="mdc-icon-button material-icons mdc-ripple-upgraded--unbounded mdc-ripple-upgraded" aria-label="Add to favorites" >add_circle_outline</button>
            </div>
        {% endif %}
        </div>
    </div>
</div>

<!--info dialog-->
<div id="info-dialog"
     class="mdc-dialog"
     role="alertdialog"
     aria-modal="true"
     aria-labelledby="my-dialog-title"
     aria-describedby="my-dialog-content">
  <div class="mdc-dialog__container">
    <div class="mdc-dialog__surface">
      <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
      <h2 class="mdc-dialog__title" id="info-dialog-title"><!--
     -->정보 조회<!--
   --></h2>
        <!--dialg 내용-->
      <div class="mdc-dialog__content" id="info-dialog-content">
        <div id="info-content-wrap">
            <div class="info-content-rows">
                <div class="info-tag">장소</div>
                <div class="info-content"></div>
            </div>
            <div class="info-content-rows">
                <div class="info-tag">주제</div>
                <div class="info-content"></div>
            </div>
            <div class="info-content-rows">
                <div class="info-tag">참석자</div>
                <div class="info-content"></div>
            </div>
            <div class="info-content-rows">
                <div class="info-tag">시작시간</div>
                <div class="info-content"></div>
            </div>
        </div>
      </div>
      <footer class="mdc-dialog__actions">
        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">
          <span class="mdc-button__label">취소</span>
        </button>
      </footer>
    </div>
  </div>
  <div class="mdc-dialog__scrim"></div>
</div>

{% endblock %}