<style>
    .menu_sidebar{
        background: rgb(40,160,294);
        width: 224px;
        color: #fff;
    }
    #sidebar_title{
        font-size: 26px;
        font-weight: 800;
        text-align: center;
        padding: 20px;
        cursor: pointer;
    }
    .menu_under{
        border-width: 0.3px;
        width: 200px;
        opacity: 0.4;
    }
</style>
<script>
    $(function(){
        $('#sidebar_title').on('click',function(){
            location.href = '{{ url_for("dashboard_view.dashboard") }}';
        });
    })
</script>
<div class="menu_sidebar">
    <div id="sidebar_title">
        echo_telegram
    </div>
    <hr class="menu_under">
    <div id="sidebar_body">
        <ul id="sidebar_list">
            {% if current_user.channel %}
                <li>
                    채널명과 기능들 뿌려주기
                </li>
            {% else %}
                <li>
                    등록된 채널이 없습니다.
                </li>
            {% endif %}
        </ul>
    </div>
</div>
