<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/timepicki.css') }}">
<script type='text/javascript' src="{{ url_for('static', filename='js/timepicki.js') }}"></script>
<style>
    .menu_sidebar{
        background: rgb(40,160,294);
        width: 224px;
        color: #fff;
        height: 100vh;
    }
    #sidebar_title{
        font-size: 26px;
        font-weight: 800;
        text-align: center;
        padding: 20px;
        cursor: pointer;
    }
    .menu_under{
        border-width: 0.3px;
        width: 200px;
        opacity: 0.4;
    }
    #sidebar_list{
        padding: 0;
        list-style-type: none;
        text-align: center;
    }
    .list_title{
        font-size: 23px;
        font-weight: 500;
        margin-bottom: 30px;
    }
    .list-contents{
        padding: 10px;
        font-weight: 600;
        font-size: 17px;
    }
    .list-contents:hover{
        cursor: pointer;
        background : #fff;
        color: rgb(40,160,294);
    }
    #return-button{
        background: #fff;
    }
    textarea[name='event_attendants']{
        height: 200px !important;
    }
    #place-button{
        display: none;
    }
</style>
<script>
    //flash 메시지 alert발생
    {% with lists = get_flashed_messages() %}
        {% for list in lists if lists%}
            alert('{{ list.decode("utf-8") }}');
        {% endfor %}
    {% endwith %}
    $(function(){
        $('#sidebar_title').on('click',function(){
            location.href = '{{ url_for("dashboard_view.dashboard") }}';
        });


        //dialog 생성
        eventDialog = document.querySelector('#event-dialog');
        eventDialogMDC = new MDCDialog(eventDialog);


        //event textfield 설정
        eventTextFields = [].map.call(document.querySelectorAll('#event-dialog .mdc-text-field'), function(el){
            return new MDCTextField(el);
        });

        //event dialog 내부 요소들 이벤트 재설정
        eventDialogMDC.listen('MDCDialog:opened', () => {
            eventTextFields.forEach(function(element){
                element.layout();
            });
        });

        //event생성 버튼과 dialog연결
        $('.list-contents').each(function(index, item){
            var eventDialogElement = $('#events-dialog');
            var eventDialogTitle = $('#events-dialog-title');
            var category = $('#event-category');

            $(item).on('click', function(){
                //click된 li element의 class
                var className = $(this).attr('class').split(" ");
                category.val(className[1]);

                //현재 user의 status가 place도 아니고 None도 아니면 이벤트 생성 불가(notice 제외)
                {% if current_user.status != 'place' and current_user.status is not none %}
                    if(!$(this).hasClass('notice')){
                        //notice가 아닌 이벤트들인경우
                        alert('자리로 돌아온 후 다시 시도해주세요');
                        return;
                    }
                {% endif %}

                //현재유저의 event객체 추출
                var eventElement = eventsArray.filter(function(item){
                  return item.user_id === '{{ current_user.userId }}';
                });

                //현재 상태는 None이지만 event가 생성된 경우
                if(eventElement[0].category !== null && eventElement[0].category !== 'None' && !$(this).hasClass('notice')){
                  alert('이미 등록된 이벤트가 존재합니다.');
                  return;
                }

                //display 초기화
                $('#events-dialog-content > form > div:nth-child(2)').css('display', 'inline-flex');
                $('#events-dialog-content > form > div:nth-child(3)').css('display', 'inline-flex');
                $('#events-dialog-content > form > div:nth-child(4)').css('display', 'inline-flex');
                $('#events-dialog-content > form > div:nth-child(5)').css('display', 'inline-flex');

                switch (className[1]) {
                    case 'meeting':
                        //dialog 제목 수정
                        eventDialogTitle.text('회의');
                        $('#events-dialog-content > form > div:nth-child(3) label').text('주제');
                        $('#events-dialog-content > form > div:nth-child(4) label').text('참석자');
                    break;
                    case 'away':
                        eventDialogTitle.text('자리비움');
                        $('#events-dialog-content > form > div:nth-child(2)').css('display', 'none');
                        $('#events-dialog-content > form > div:nth-child(4)').css('display', 'none');
                        $('#events-dialog-content > form > div:nth-child(3) label').text('사유');
                    break;
                    case 'outside':
                        eventDialogTitle.text('외근');
                        $('#events-dialog-content > form > div:nth-child(3) label').text('주제');
                        $('#events-dialog-content > form > div:nth-child(2)').css('display', 'none');
                        $('#events-dialog-content > form > div:nth-child(4)').css('display', 'none');
                    break;
                    case 'notice':
                        eventDialogTitle.text('공지');
                        $('#events-dialog-content > form > div:nth-child(2)').css('display', 'none');
                        $('#events-dialog-content > form > div:nth-child(5)').css('display', 'none');
                        $('#events-dialog-content > form > div:nth-child(3)').css('display', 'none');
                        $('#events-dialog-content > form > div:nth-child(4) label').text('내용');
                    break;
                    }

                eventDialogMDC.open();
            });
        });

        //timepicker
        $('#timepicker').timepicki();


        //이벤트 제출
        $('#event-submit').on('click',function(e){
            //줄바꿈 문자 띄어쓰기로 바꾸어서 서버에 보냄
            var str = $('#events-dialog-content textarea').val();
            $('#events-dialog-content textarea').val(str.split('\n').join(' '));

            //시간을 입력하지 않으면 보내지지않음
            if(!($('#timepicker').is('[data-timepicki-tim]'))){
               alert('시작시간은 필수 입력사항 입니다.');
               return;
            }

            $('#event-dialog form').submit();
            eventDialogMDC.close();
        });

        returnButton = document.querySelector('#return-button');
                        returnButtonRipple = new MDCRipple(returnButton);
                        returnButton.addEventListener('click',function(event){
                            location.href = '{{ url_for("user_api.return_seat") }}';
          });

    })
</script>
<div class="menu_sidebar">
    <div id="sidebar_title">
        echo_telegram
    </div>
    <hr class="menu_under">
    <div id="sidebar_body">
        <ul id="sidebar_list">
            {% if current_user.channel %}
                <li class="list_title">
                    {{ events[0]['channel_name'] }} 채널
                </li>
                <li class="list-contents meeting">
                    회의
                </li>
                <li class="list-contents away">
                    자리비움
                </li>
                <li class="list-contents outside">
                    외근
                </li>
                <li class="list-contents notice">
                    공지
                </li>

                <li id="place-button">
                    <button id="return-button"class="mdc-button mdc-button--outlined">자리로 돌아오기</button>
                </li>

            {% endif %}
        </ul>
    </div>
</div>

<!--events dialog-->
<div id="event-dialog"
     class="mdc-dialog"
     role="alertdialog"
     aria-modal="true"
     aria-labelledby="my-dialog-title"
     aria-describedby="my-dialog-content">
  <div class="mdc-dialog__container">
    <div class="mdc-dialog__surface">
      <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
      <h2 class="mdc-dialog__title" id="events-dialog-title"><!--
     -->이벤트 생성<!--
   --></h2>
        <!--dialg 내용-->
      <div class="mdc-dialog__content" id="events-dialog-content">
          <!--id_field-->
        <form method="post" action="{{ url_for('echo_api.create_event') }}">
          <input type="hidden" id="event-category" name="event_category">
          <div class="mdc-text-field mdc-text-field--outlined">
              <input class="mdc-text-field__input" name="event_location">
              <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                  <label class="mdc-floating-label">장소</label>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
              </div>
          </div>


          <div class="mdc-text-field mdc-text-field--outlined">
            <input class="mdc-text-field__input" name="event_subject">
            <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                    <label class="mdc-floating-label">주제</label>
                </div>
            <div class="mdc-notched-outline__trailing"></div>
            </div>
          </div>

          <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--textarea">
              <textarea class="mdc-text-field__input" name="event_attendants"></textarea>
            <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                    <label class="mdc-floating-label">참석자</label>
                </div>
            <div class="mdc-notched-outline__trailing"></div>
            </div>
          </div>

            <div class="mdc-text-field mdc-text-field--outlined">
            <input id="timepicker" class="mdc-text-field__input" name="event_start">
            <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                    <label class="mdc-floating-label">시작시간</label>
                </div>
            <div class="mdc-notched-outline__trailing"></div>
            </div>
          </div>
            {% if current_user.channel %}
          <input type="hidden" name="event_channel" value="{{ events[0]['channel_name'] }}">
            {% endif %}
        </form>
      </div>
      <footer class="mdc-dialog__actions">
        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">
          <span class="mdc-button__label">취소</span>
        </button>
        <button id="event-submit" type="button" class="mdc-button mdc-dialog__button">
          <span class="mdc-button__label">생성</span>
        </button>
      </footer>
    </div>
  </div>
  <div class="mdc-dialog__scrim"></div>
</div>
